snippet clang_format_protobuf "Clang format rule for protobuf"
{
    BasedOnStyle: Google,
    AlignConsecutiveDeclarations: true,
    AlignConsecutiveAssignments: true,
    IndentWidth: 2,
}
endsnippet

snippet direnv_golang "direnv untuk golang project"
PATH_add ./bin/
export GOBIN=$PWD/bin
endsnippet
