snippet prettier "My Prettier config"
const options = {
  arrowParens: 'always',
  singleQuote: true,
  bracketSpacing: true,
  endOfLine: 'lf',
  semi: true,
  tabWidth: 2,
  trailingComma: 'none',
  bracketSameLine: false,
  jsxSingleQuote: true
}

module.exports = options
endsnippet
