snippet rust_fmt "Snippet for rustfmt rule"
max_width = 60
chain_width = 1
use_field_init_shorthand = true
edition = "2021"
single_line_if_else_max_width = 1
use_small_heuristics = "Max"
endsnippet

snippet stylua "Snippet for stylua"
column_width = 120
line_endings = "Unix"
indent_type = "Spaces"
indent_width = 2
quote_style = "AutoPreferSingle"
no_call_parentheses = true
endsnippet
